java-examples-axis/etc/hello.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://localhost:9000/java-examples-axis/services/HelloApi" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://localhost:9000/java-examples-axis/services/HelloApi" xmlns:intf="http://localhost:9000/java-examples-axis/services/HelloApi" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->

   <wsdl:message name="absRequest">

      <wsdl:part name="arg0" type="xsd:int"/>

      <wsdl:part name="arg1" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="addResponse">

      <wsdl:part name="addReturn" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="absResponse">

      <wsdl:part name="absReturn" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="addRequest">

      <wsdl:part name="arg0" type="xsd:int"/>

      <wsdl:part name="arg1" type="xsd:int"/>

   </wsdl:message>

   <wsdl:portType name="HelloApi">

      <wsdl:operation name="add" parameterOrder="arg0 arg1">

         <wsdl:input message="impl:addRequest" name="addRequest"/>

         <wsdl:output message="impl:addResponse" name="addResponse"/>

      </wsdl:operation>

      <wsdl:operation name="abs" parameterOrder="arg0 arg1">

         <wsdl:input message="impl:absRequest" name="absRequest"/>

         <wsdl:output message="impl:absResponse" name="absResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="HelloApiSoapBinding" type="impl:HelloApi">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="add">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.axis.examples.java.tachesimazzoca.github.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="addResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost:9000/java-examples-axis/services/HelloApi" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="abs">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="absRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.axis.examples.java.tachesimazzoca.github.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="absResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost:9000/java-examples-axis/services/HelloApi" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="HelloApiService">

      <wsdl:port binding="impl:HelloApiSoapBinding" name="HelloApi">

         <wsdlsoap:address location="http://localhost:9000/java-examples-axis/services/HelloApi"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
